.quadrillage {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
}

.quadrillage > div {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    box-sizing: border-box;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}